/* color from https://github.com/picocss/pico/blob/main/css/pico.classless.css */
body {
  color: #373c44;
  font-family: system-ui, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 48rem;
}

main {
  line-height: 1.5;
  padding: 1rem;
}

/* color from https://github.com/picocss/pico/blob/main/css/pico.classless.css */
a {
  color: #0172ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 0;
  margin-right: 0;
  row-gap: 1rem;
}

figure > img {
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 700;
}

input {
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

/* logo */
.logo > div:first-child {
  font-size: 3rem;
  font-weight: 700;
}

.logo > div:last-child {
  display: none;
}

/* nav */
nav {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav > ul {
  list-style-type: none;
  padding-left: 0;
}

nav a {
  color: inherit;
  font-weight: 700;
}

nav a:hover {
  color: #838893;
  text-decoration: none;
}

/* table */
table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

tr {
  border: 1px solid #dee2e6;
}

th,
td {
  padding: 0.5rem;
}

tbody > tr:hover {
  background-color: #ececec;
}

@media (width >= 450px) {
  figure > img {
    max-height: 500px;
    max-width: 500px;
    width: auto;
  }

  .logo {
    align-items: center;
    column-gap: 1rem;
    display: flex;
  }

  .logo > div:last-child {
    display: block;
    font-weight: 500;
  }

  .logo span {
    color: #838893;
  }
}

@media (width >= 600px) {
  nav {
    justify-content: space-between;
  }

  nav li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
